@font-face {
  font-family: Danielscript;
  src: url(Danielscript-Regular.ttf)
}

html {
  scroll-behavior: smooth;
}

#collagebg {
  height: 85vh;
  position: absolute;
  width: 100vw;
  z-index: -1;
  overflow: hidden;
}

#collagebg img {
  height: 100%;
  margin: auto;
  display: block;
}

body {
  background-color: black;
}

body p {
  font-family: Danielscript;
}

a {
  text-decoration: none;
  color: #e58ae5;
}

a:hover {
  animation: clickthislink 1s;
  animation-iteration-count: infinite;
}

#collage {
  height: 100vh;
  display: block;
  background-color: black;
  background-image: url("../static/CollageBase2.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: top;
}

#collage .comboplatter {
  height: 27vw;
}

#bgimage {
  width: 80%;
  margin-left: 10%;
}

#bgimage img {
  width: 100%;
}

#greetingcontainer {
  height: 7.5vw;
  display: block;
  margin: auto;
  width: 80%;
}

#greeting {
  height: 100%;
  width: 30vw;
  margin-left: 15vw;
}

#greeting img {
  height: 100%;
}

.comboplatter {
  width: 80%;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-content: center;
  flex-direction: row;
  position: relative;
}

#namegarden {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 24vw;
  width: 70vw;
  margin-top: 6vh;
}

.name {
  width: 7.5vw;
  margin-left: 2vw;
  transition: 0.25s ease;
}

.name:hover {
  width: 8vw;
  transition: 0.25s ease;
}

.name img {
  width: 100%;
}

#viewport {
  flex: 50%;
  height: 24vw;
  display: block;
  position: relative;
  margin-left: 3vw;
  background-color: yellow;
  border: 2vw solid black;
}

#viewportimage {
  height: 100%;
  width: 100%;
}

#friendslist {
  flex: 35%;
  margin-left: 4vw;
  display: block;
  column-count: 2;
  position: relative;
  padding: 65px 45px 0px 45px;
}

#friends {
  align-content: center;
}


.friend {
  font-size: 2vw;
  padding: 15px;
  text-shadow: 2px 1px black;
  transition: 0.25s ease;
}

.friend:hover {
  font-size: 2.125vw;
  transition: 0.25s ease;
}

#rest {
  height: 80vh;
  background-color: black;
  margin-top: 20vh;
}

#totherest {
  font-size: 1.5vw;
  text-align: center;
  width: 15vw;
  position: relative;
  display: block;
  margin: auto;
  margin-right: 0;
  color: black;
  background-color: #f0ea17;
}

#rest p {
  color: #f0ea17;
  font-size: 18pt;
}

#rest .comboplatter {
  height: 60vh;
}

#credits {
  flex: 30%;
}

#player {
  flex: 40%;
  margin-left: 5%;
  color: black;
  font-size: 24pt;
  font: Danielscript;
}

#player:hover {
  color: #f0ea17;
}

#player img:hover {
  border: 10pt solid #f0ea17;
  animation: clickthis 1s;
  animation-iteration-count: infinite;
  transition: 0.25s ease;
}

#player a {
  display: block;
  width: 100%;
}

#player img {
  display: block;
  width: 80%;
  transition: 0.25s ease;
}

#funlinks {
  position: absolute;
  margin-top: 5vh;
  background-color: #f0ea17;
  width: 100vw;
  border: 5pt solid #e58ae5;
}

#funlinks > ul {
  padding: 20px 0px;
  padding-left: 13vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 74vw;
}

#funlinks > p {
  padding-left: 13vw;
  color: black;
  font-size: 2vw;
}

.funlink {
  width: 13vw;
  display: block;
  padding: 5px;
  text-align: center;
}

#funlinks a {
  font-size: 1.5vw;
  background-color: black;
}

#mobilewarning {
  visibility: hidden;
}

@keyframes clickthis {
  0% {
    border-color: #f0ea17;
  }
  24% {
    border-color: #f0ea17;
  }
  25% {
    border-color: #e58ae5;
  }
  50% {
    border-color: #e58ae5;
  }
  51% {
    border-color: #f0ea17;
  }
  74% {
    border-color: #f0ea17;
  }
  75% {
    border-color: #e58ae5;
  }
  99% {
    border-color: #e58ae5;
  }
  100% {
    border-color: #f0ea17;
  }
}

@keyframes clickthislink {
  0% {
    color: #e58ae5;
  }
  24% {
    color: #e58ae5;
  }
  25% {
    color: #f0ea17;
  }
  50% {
    color: #f0ea17;
  }
  51% {
    color: #5ed1e9;
  }
  74% {
    color: #5ed1e9;
  }
  75% {
    color: #f0ea17;
  }
  99% {
    color: #f0ea17;
  }
  100% {
    color: #e58ae5;
  }
}
